#jobTable td.route{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.job-results-container ul{
	padding-left: 2em;
	list-style: none;
}

.job-results-container > ul:first-of-type{
	padding: 0;
}